<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-custom">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center fw-bold fs-4" href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='images/Favicon.png') }}" alt="ApplySaathi Logo" class="nav-logo me-3">
    
      <!-- Hide text on mobile, show from md and above -->
      <span class="d-none d-md-inline">
        Apply<span class="text-accent">Saathi</span>
      </span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link px-3" href="{{ url_for('main.home') }}">Home</a>
        </li>

        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link px-3" href="{{ url_for('main.dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.profile') }}">
              My Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-logout ms-lg-3" href="{{ url_for('main.logout') }}">Logout</a>
          </li>
        {% else %}
          <!-- contact us -->
          <li class="nav-item">
            <a class="nav-link px-3" href="{{ url_for('main.contact') }}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{{ url_for('main.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-register ms-lg-3" href="{{ url_for('main.register') }}">Get Started</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
